[Unit]
Description=ipSender Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ipSender/
ExecStart=/home/pi/ipSender/venv/bin/python3 /home/pi/ipSender/ipSender.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
